body {
    background-color: #03120D; 
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #f1c40f !important;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 10px;
    color: #f3f3f3 !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #f1c40f !important;
}

.reserve-btn {
    background-color: #f3cf40;
    border: none;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 4px;
    color: #000;
}


.reserve-btn:hover {
    background-color: #ffae00ea;
    
    
}

#hero-section {
    min-height: 80vh;
    padding-top: 50px;
}

.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
    color: #FFEDBF; 
}

.hero-subtext {
    font-size: 1.1rem;
    color: #ccc;
    max-width: 450px;
    margin-bottom: 35px;
}

.btn-custom {
    padding: 12px 30px;
    border-radius: 0;
    font-weight: 500;
    color: #f1c40f;
    border-color: #f1c40f;
}

.btn-custom:hover {
    background-color: #f1c40f;
    color: #000;
}

/*
.hero-image-container img {
    border-bottom: 5px solid #2b1818;
    border-top: 5px solid #2b1818;
    border-left:5px solid #2b1818 ;
    border-right:5px solid #2b1818;
    border-radius: 15px;
    max-height: 460px;
    width: 100%;
    object-fit: cover;
}  
    */

.stats p {
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-custom img {
    display: inline-block;
    vertical-align: middle;
}

.btn-custom i {
    font-size: 1.2rem; 
}

.btn-group-hero {
    display: flex;
    gap: 15px;
}


.hero-main {
    background: linear-gradient(to right, rgba(5, 13, 10, 0.9), rgba(5, 13, 10, 0.4)), 
                url('../images/pizza.avif');
    background-size: 1000px ;
    background-position: center;

}



/* testomonial */
#testimonial-section {
    padding: 100px 0;
    background-color: #050d0a;
    color: #FFEDBF;
}

.gold-text {
    color: #e5e5e5;
    letter-spacing: 2px;
}


.testimonial-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.testimonial-para {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    color: #cccccc;
    line-height: 1.8;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


.image-wrapper {
    position: relative;
    height: 500px; 
}

.img-large {
    width: 80%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;
}

.img-small {
    width: 250px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    left: 20px;
    top: 120px;
    z-index: 2;
    border: 5px solid #050d0a; 
}




/* Sec style */
#exquisite-flavors {
    background-color: #050d0a;
    overflow: hidden;
}


.center-text-box {
    background-color: #050d0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.small-gold-text {
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.flavor-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fce4bd;
    line-height: 1;
}

/* Check Menu */
.btn-check-menu {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-check-menu:hover {
    background-color: #f1c40f;
    color: #000;
}


.menu-item-box {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 350px;
}

.menu-item-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.menu-item-box:hover img {
    transform: scale(1.08);
}


.menu-label {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}

.label-btn {
    display: block;
    padding: 8px 15px;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    background-color: rgba(5, 13, 10, 0.7);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.label-btn:hover {
    background-color: #f1c40f;
    color: #000;
}











/* menu section */
#menu-section {
    padding: 50px 0;
    background-color: #050d0a;
}

.menu-main-title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #FDF5E6;
    font-weight: 700;
}


.filter-btn {
    background: transparent;
    border: none;
    color: #f1c40f; 
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
}

.filter-btn.active {
    background-color: #0c1a15; 
    color: #f1c40f;
}

.filter-btn:hover {
    color: #fff;
}

/* food card */
.food-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
}

.food-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.food-card:hover img {
    transform: scale(1.1);
}


.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: #fff;
}

.food-name {
    font-size: 1.1rem;
    font-weight: 400;
    color: #f1c40f;
}

.food-tag {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px 12px;
    font-size: 0.9rem;
    backdrop-filter: blur(5px);
    border-radius: 2px;
}


/* stats sec */
#stats-section {
    padding: 80px 0;
    background-color: #050d0a; 
    background-image: linear-gradient(rgba(5, 13, 10, 0.8), rgba(5, 13, 10, 0.8)), 
                      url('../images/ststus.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

/* Vertical Line */
.stats-row .stat-item:not(:last-child) {
    border-right: 1px solid rgba(241, 196, 15, 0.5);
}

.stat-number {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #f1c40f;
    font-weight: 700;
    margin-bottom: 5px;
}

.stat-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
    color: #FDF5E6;
    letter-spacing: 2px;
}

/*  Story button */
.btn-story {
    display: inline-block;
    padding: 12px 35px;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    transition: 0.4s ease;
}

.btn-story:hover {
    background-color: #f1c40f;
    color: #000;
}


/* faq sec */

#faq-section {
    background-color: #050d0a;
    min-height: 80vh; 
    display: flex;
    align-items: center;
}

.faq-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #FDF5E6;
    line-height: 1.2;
}


.accordion-button {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.accordion-button:not(.collapsed) .faq-icon-arrow {
    transform: rotate(90deg);
    color: #f1c40f;
}

/* image gallery */
.faq-img {
    width: 100%;
    height: 500px; 
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}



/* booking sec */
#booking-section {
    color: #FDF5E6;
}

.booking-title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.booking-subtitle {
    font-size: 1.1rem;
    color: #cccccc;
    margin-bottom: 5px;
}

.gold-link {
    color: #f1c40f;
    text-decoration: underline;
}



.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}





/* resurb button */
.btn-reserve {
    background-color: #f1c40f;
    color: #03120D;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    transition: 0.3s;
    border-radius: 4px;
}

.btn-reserve:hover {
    background-color: #d4ac0d;
    transform: translateY(-3px);
}


#booking-section {
    background-color: #03120D; 
    padding: 100px 0;
    color: #FDF5E6;
}

/* input fild clear */
.custom-input {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important; 
    border-radius: 4px !important;
    color: #FDF5E6 !important;
    padding: 15px 20px !important;
}

.custom-input:focus {
    border-color: #f1c40f !important; 
    background-color: rgba(255, 255, 255, 0.05) !important; 
    box-shadow: none !important;
}



#location-section {
    background-color: #03120D;
    color: #FDF5E6;
    padding: 100px 0;
}

.loc-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
}

.loc-divider {
    width: 100%;
    border-top: 1px solid rgba(241, 196, 15, 0.3);
    opacity: 1;
}

.info-heading {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #f1c40f; 
    margin-bottom: 15px;
}

.info-text {
    font-size: 1.1rem;
    color: #cccccc;
    margin-bottom: 5px;
}

.gold-link {
    color: #f1c40f;
    text-decoration: underline;
}

/* social icon */
.social-icon {
    color: #f1c40f;
    font-size: 1.5rem;
    border: 1px solid #f1c40f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: #f1c40f;
    color: #000;
}

/* map */
.map-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.map-overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-left: 3px solid #f1c40f;
    color: #fff;
    z-index: 10;
}

.x-small {
    font-size: 0.8rem;
}





/* f m d */
#main-footer {
    background-color: #000000; 
    color: #FDF5E6;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-logo {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #f1c40f; 
    font-size: 2rem;
}

.footer-tagline {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #FDF5E6;
}

.footer-heading {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #f1c40f;
    font-weight: 600;
}

/* linkstyle */
.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #FDF5E6;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f1c40f;
}

.footer-text {
    color: #FDF5E6;
    font-size: 1rem;
    line-height: 1.6;
}

/* btn style */
.btn-reserve-footer {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-reserve-footer:hover {
    background-color: #f1c40f;
    color: #000;
}

/* Bottom Bar */
.footer-divider {
    border-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    font-size: 0.85rem;
    color: #999;
}

.gold-text {
    color: #f1c40f;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}






























/* small device */
@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }
}